
# /swipe gen
config_doc_gen.md -diff
config_doc_gen.md -diff
fixtures/ConfigUseZeroSuccess/app/config_gen.go -diff
fixtures/ConfigRequiredUseZeroSuccess/app/config_gen.go -diff
fixtures/ConfigRequiredSuccess/app/config_gen.go -diff
fixtures/GatewaySuccess/app/endpoint_gen.go -diff
fixtures/GatewaySuccess/app/gateway_gen.go -diff
fixtures/GatewaySuccess/app/http_gen.go -diff
fixtures/GatewaySuccess/app/server_gen.go -diff
openapi_jsonrpc_gen.json -diff
fixtures/ServiceJSONRPCMulti/app/endpoint_gen.go -diff
fixtures/ServiceRESTMulti/app/logging_gen.go -diff
README.md -diff
README.md -diff
README.md -diff
README.md -diff
fixtures/ServiceJSONRPCSingle/app/endpoint_gen.go -diff
fixtures/ServiceRESTSingle/app/endpoint_gen.go -diff
fixtures/ServiceRESTMulti/app/server_gen.go -diff
openapi_rest_gen.json -diff
openapi_rest_gen.json -diff
fixtures/ServiceJSONRPCMulti/app/endpoint_factory_gen.go -diff
fixtures/ServiceRESTMulti/app/endpoint_gen.go -diff
fixtures/GatewaySuccess/app/client_jsonrpc_gen.js -diff
fixtures/ServiceRESTMulti/app/endpoint_factory_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/http_gen.go -diff
jsonrpc_doc_gen.md -diff
jsonrpc_doc_gen.md -diff
fixtures/ServiceRESTSingle/app/logging_gen.go -diff
openapi_jsonrpc_gen.json -diff
fixtures/ServiceRESTSingle/app/server_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/endpoint_factory_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/server_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/http_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/server_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/logging_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/client_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/client_struct_gen.go -diff
fixtures/ServiceRESTMulti/app/instrumenting_gen.go -diff
fixtures/ServiceRESTSingle/app/http_gen.go -diff
openapi_jsonrpc_gen.json -diff
fixtures/ServiceRESTMulti/app/client_gen.go -diff
fixtures/ServiceRESTSingle/app/endpoint_factory_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/instrumenting_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/instrumenting_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/logging_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/client_struct_gen.go -diff
fixtures/ServiceRESTSingle/app/instrumenting_gen.go -diff
fixtures/ServiceRESTMulti/app/http_gen.go -diff
fixtures/ServiceRESTSingle/app/client_struct_gen.go -diff
fixtures/ServiceJSONRPCSingle/app/client_gen.go -diff
fixtures/ServiceRESTSingle/app/client_gen.go -diff
fixtures/ServiceJSONRPCMulti/app/client_jsonrpc_gen.js -diff
fixtures/ServiceJSONRPCSingle/app/client_jsonrpc_gen.js -diff
# swipe gen/
